<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <!--<add key="ConnectionString" value="User Id=USSC;Password=PSSC;Data Source=//192.168.152.128/EYCTST" />-->
    <add key="ConnectionString" value="User Id=CMS;Password=kds2015;Data Source=//192.168.0.43/xe" />
    <add key="ConnectionStringLocal" value="User Id=USSC;Password=PSSC;Data Source=//localhost/xe" />
    <add key="MinutesToLogout" value="5" />
    <add key="ImageFooterMemoDiscount" value="Image\KDSLogo.gif" />
    <add key="DefaultPrintLabelFilePath" value="C:" />
    <add key="SSCFileLocation" value="C:" />
    <add key="V_SITE_BATCHFILE" value="\SSC\SSC_V_SITE.bat" />
    <add key="V_BRAND_BATCHFILE" value="\SSC\SSC_V_BRAND.bat" />
    <add key="MV_ARTICLES_BATCHFILE" value="\SSC\SSC_MV_ARTICLES.bat" />
    <add key="MV_ARTICLES_LST" value="\SSC\outgoing\MV_ARTICLES.lst" />
    <add key="V_BRAND_LST" value="\SSC\outgoing\V_BRAND.lst" />
    <add key="V_SITE_LST" value="\SSC\outgoing\V_SITE.lst" />
  </appSettings>
</configuration>
